*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    background: #fff;
    width: 100%;
    margin: 0px;
    border-bottom: solid 1px #ddd;
    float: left;
    text-align: center;
    
}
.menubar{
    text-align: center;
    width: 1000px;
    float: right;


}
.menubar ul
{
    display :inline-flex;
    list-style: none;
    color: #fff;
    margin-bottom: 0;
   
}
.menubar ul li{
   
    margin-right: 15px ;
    text-align: center;
     
   
}
.menubar ul li:not(:last-child) a{
    text-decoration: none;
    color:#3f2c7d;
    float:right;
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 50px;
     
  
}

.menubar ul li:not(:last-child) a:hover{
    background-color: #f5f5f5;
    border-radius: 3px;
    border-bottom: 2px solid #3f2c7d;
         
}
.logo{
    width: 200px;
    margin-left: 50px;
    float: left;
}
.menubar ul li:last-child a{
    background-color: #3f2c7d;
    color: #fff ;
    float: left;
    margin-top: 10px;
    padding: 4px 20px;
}
.menubar ul li:last-child:hover a{
    background: rgb(247, 150, 33);
    color:#fff;
    text-decoration: none;
}

.containerbox{
    width: 100%;
    float: left;
    background:#f5f5f5;;
    padding: 30px 0px;
}

.containerbox h3{
    text-align: center;
    font-family: "open-sans", sans-serif;
    padding: 0px 15px;
    font-weight: 400;

}
.btn.btn-blue {
	color: #fff;
	background: #3f2c7d;
	border-radius: 0px;
	font-size: 16px;
	text-transform: capitalize;

}
.action_btn{
    padding: 14px 40px;
    text-align: center;
}
.action_btn .btn:hover{
    background: rgb(247, 150, 33);
}
/* Slider */
.slidercontainer{
    width: 100%;
    
}
.carousel-caption h3{
    color: black ;
    float: left;
    font-weight: 600px;
  
}
.carousel-caption p{
    color: black;
}
.carousel-caption.col-md-6{
    width: 340px;
    top : 140px;
    height: 250px;
}
.container2{
    float: left;
    width: 100%;
    height: 540px;
   background: #fff;
   
}
.container2 h3{
    color:#49494A;
    font-weight: 600;
    font-size: 36px !important;
    margin-bottom: 30px !important;
    font-family: "lato", sans-serif !important;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    
}

.surcontent{
    color: black;
   
}
.surimage{
    padding-left: 200px;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    font-family: Open Sans;
    float: left;
    display: inline-flex;
    padding-top: 20px;
    text-align: center;
    color: #49494A ;
    border-top: solid 1px #ddd;
}
.footer p a{
    color: rgb(73, 73, 74);
    text-decoration: none;
}
.container3{
    height: 700px;
    max-width: 100%;
    float: left;
    background: url("image/p4.jpg");
    background-size: cover;
    align-content: center;
    
}

.our_story_container{
   max-width: 750px;
    width: 100%;
    padding: 30px 30px;
    background: rgba(255,255,255,0.6);
    margin: 100px auto;
    height: 400px;
    text-align: justify;
}
.our_story_container h3{
    text-align: center;
    font-weight: 600;
    font-family: "lato", sans-serif;
    margin-bottom: 30px;
    font-size: 36px;
    font-size: 60px;
}
.story_btn{
    width: 200px;
    height: 50px;
    text-align: center;
}
.workcontainer{
    background:url(image/p5.jpg);
    width: 100%;
    height: 500px;
    float: left;
    
}
.workcontainer h3{
    text-align: center;
    margin-bottom: 40px;
    margin: 40px 0px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "lato", sans-serif;
    font-size: 36px;
}
.workcontainer p{
    font-weight: 400;
}
.workcontainer img{
    width:250px !important;
    height: auto;
    padding-left: 116px;
       
}
.workcontainer h3{
    text-transform: capitalize;
    margin: 20px 0px;
    font-weight: 600;
    font-family: "open-sans", sans-serif;
}
.workcontainer p{
    line-height: 1.5em;
    font-family: "Open Sans";
    text-transform: none;
    text-align: center;
}
.workcontainer.col-sm-4{
    float: right;
    margin-left: 100px;
}
.fa{
    color:#3f2c7d ;
}
.footer a{
    color: black;
}
